body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    background-color: #000000;
    color: #dbdbdb;
}

.message {
    width: auto;
    height: 2em;
    font-size: 70px;
    text-align: center;
    color: #009c00;
}

.board {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    /*grid-gap: 5px;*/
}

.reset {
    width: 3em;
    height: 1.5em;
    margin: auto;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
    color: #000000;
    border-radius: 0.25em;
    border: 2px solid #bdbdbd;
    background-color: #999999;
    cursor: pointer;
}
.reset:hover {
    color: #009c00;
    border: 2px solid #222222;
    background-color: #666666;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    cursor: pointer;
}

.cell.taken {pointer-events: none;}



