body {width: 100%;height: 100%;background: #111111;color: #dbdbdb;margin: 0;padding: 0;text-align: center;}
h1 {color: #dbdbdb;font-size: 2rem;margin: 1rem 0 0.5rem 0;}
h3 {color: #aaaaaa;font-size: 1rem;font-weight: normal;margin: 0;}
hr {border: 0;border-top: 1px solid #333333;margin: 15px auto;width: 90%;}

.btn-container {margin: 1rem auto;width: 100%;height: auto;display: grid;grid-template-columns: 20% 40%;grid-template-rows: auto;align-items: center;justify-content: center;}
.media-box {grid-column: 1;grid-row: 1 / span 3;width: 100%;height: auto;text-align: center;}
.media-box img {width: 100%;height: auto;}
#kernel-options {margin: 0;}

.checkbox_table {width: auto;text-align: center;margin: 1rem auto;font-size: 0.9rem;}
.checkbox_table td {padding: 0 2rem;}
.checkbox_table label {width: 20rem;word-break: keep-all;}

.choice_button {position: relative;display: inline-block;width: 2rem;height: 2rem;}
.choice_button .background {fill: #222222;transition: ease all 0.6s;}
.choice_button .stroke {fill: none;stroke: #0d7fc7;stroke-miterlimit: 10;stroke-width: 2px;stroke-dashoffset: 100;stroke-dasharray: 100;transition: ease all 0.6s;}
.choice_button .check {fill: none;stroke: #01ff50;stroke-linecap: round;stroke-linejoin: round;stroke-width: 2px;stroke-dashoffset: 22;stroke-dasharray: 22;transition: ease all 0.6s;}
.choice_button input[type=radio], .choice_button input[type=checkbox] {position: absolute;width: 100%;height: 100%;left: 0;top: 0;margin: 0;opacity: 0;appearance: none;-webkit-appearance: none;cursor: pointer;}
.choice_button input[type=radio]:checked + svg .background, .choice_button input[type=checkbox]:checked + svg .background {fill: #000000;}
.choice_button input[type=radio]:checked + svg .stroke, .choice_button input[type=checkbox]:checked + svg .stroke {stroke-dashoffset: 0;}
.choice_button input[type=radio]:checked + svg .check, .choice_button input[type=checkbox]:checked + svg .check {stroke-dashoffset: 0;}
.choice_button:hover .check {stroke-dashoffset: 0;}

.mb_button {width: auto;height: auto;display: flex;align-items: center;justify-content: center;cursor: pointer;margin: auto;padding: 1rem 4rem;background-color: #222222;border-radius: 0.5rem;box-shadow: rgba(255, 255, 255, 0.3) 2px 2px 6px 1px inset;font-size: 1.2rem;box-sizing: border-box;color: #dbdbdb;}
.mb_button:hover {color: #00ff00;font-size: 1.17rem;box-shadow: rgba(0, 0, 0, 0.7) 2px 2px 6px 1px inset;transition: all 0.2s;}


.main-layout {margin: 1rem 0;}
#console {width: 80%;height: 20rem;margin: auto;background: #000000;color: #00ff00;font-size: 1rem;padding: 1rem;text-align: left;overflow-y: scroll;word-wrap: break-word;border: 1px solid #666666;}

