body {background-color: #000000;margin: 0;padding: 0;background-image: url("wallpaper_00.jpg");background-repeat: repeat, no-repeat;background-size: auto, 100% 100%;background-attachment: fixed;overflow-y: scroll;color: #dbdbdb;font-size: 1rem;}

#menubar {width: 100%;height: 6vh;position: fixed;z-index: 1000;margin: 0;padding: 0;font-size: 0.7rem;}
#menubar div {display: grid;grid-template-columns: min-content;grid-template-rows: min-content;grid-auto-flow: column;place-items: center;gap: 2rem;background-color: #dbdbdb;}
#menubar div img {width: 5vh;height: 5vh;filter: brightness(50%);transition: all 0.6s;}
#menubar div:hover img {filter: brightness(100%);}
#menubar div a {width: 6vh;height: 6vh;text-align: center;color: #dbdbdb;text-decoration: none;opacity: 0;}
#menubar div a:hover img {filter: brightness(100%);}
#menubar div a:hover span {opacity: 1;}
#menubar div a img {width: 5vh;height: 5vh;filter: brightness(50%);transition: all 0.6s;}
#menubar div a span {opacity: 0;text-align: center;line-height: normal;transition: all 0.6s;}

#main {width: 100%;height: auto;position: relative;top: calc(5vh + 1.8rem);background-color: #000000;}