/* Layout Commands */
.layout_container {display: grid;grid-template-columns: 1fr;gap: 1em;}
@media (orientation: landscape) {.layout_container {grid-template-columns: 1fr 1fr;align-items: start;align-content: start;}}

/* Views for multiple instances */
.container_header {width: 100%;text-align: center;padding: 0.5em;}
.background_image {display: block;width: 100%;height: 100%;}

.border_3d {box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.1),inset -2px -2px 5px rgba(255, 255, 255, 0.1);;}
.border_knob {box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.1),inset -2px -2px 5px rgba(0, 0, 0, 0.5);}

.checkbox {display: flex;align-items: center;cursor: pointer;}
.checkbox input[type="checkbox"] {appearance: none;-moz-appearance: none;-webkit-appearance: none;width: 1.8em;height: 1.8em;background-color: #222222;border-radius: 0.5em;position: relative;cursor: pointer;transition: all 1s ease;margin: 0;padding: 0;}
.checkbox input[type="checkbox"]:hover {background-color: #444444;}
.checkbox input[type="checkbox"]:checked::after {content: "✔";position: absolute;top: 0%;left: 25%;font-size: 1em;color: #48ff00;}
.checkbox input[type="radio"] {appearance: none;-moz-appearance: none;-webkit-appearance: none;width: 1.8em;height: 1.8em;background-color: #222222;border-radius: 0.5em;position: relative;cursor: pointer;transition: all 1s ease;margin: 0;padding: 0;}
.checkbox input[type="radio"]:hover {background-color: #444444;}
.checkbox input[type="radio"]:checked::after {content: "✔";position: absolute;top: 0%;left: 25%;font-size: 1em;color: #48ff00;}


/* Game-Cover */
.game_cover_container {width: 100%;background-color: #111111;border-radius: 1em;align-items: start;align-content: start;}

.game_table {width: 100%;border-radius: 0;display: flex;padding: 0.5em;border-radius: 1em 1em 0 0;}
.game_table_1 {width: 30%;text-align: center;}
.game_table_2 {width: 70%;}

.game_cover {display: block;width: calc(100% - 1em);margin: auto;border-radius: 0.5em;}
.game_select {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.game_select:hover {color: #48ff00;background-color: #444444;}

/* Pokemon-Section */
.pokemon_container {width: 100%;background-color: #111111;border-radius: 1em;align-items: start;align-content: start;}

.pokedex_select_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;border-radius: 1em 1em 0 0;}
.pokedex_select_table_1 {width: 30%;text-align: center;}
.pokedex_select_table_2 {width: 70%;}
.pokedex_select {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokedex_select:hover {color: #48ff00;background-color: #444444;}

.pokedex_sort_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;}
.pokedex_sort_table_1 {width: 30%;text-align: center;}
.pokedex_sort_table_2 {width: 70%;}
.pokedex_sort {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokedex_sort:hover {color: #48ff00;background-color: #444444;}

.pokemon_picture_swapper {width: 100%;cursor: pointer;position: relative;}
.pokemon_picture {display: block;width: calc(100% - 1em);margin: auto;border-radius: 0.5em;background-image: url(pokemon/icons/background.png);background-size: contain;background-repeat: no-repeat;background-position: center;transition: all 1s ease;}
.pokemon_description {width: calc(100% - 1em);height: 100%;top: 0%;left: 0.5em;position: absolute;padding: 0.5em 1em;border-radius: 0.5em;color: #dbdbdb;text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);opacity: 0;overflow: scroll;background-color: rgba(0, 0, 0, 0.6);}

.pokemon_select_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;}
.pokemon_select_table_1 {width: 30%;text-align: center;}
.pokemon_select_table_2 {width: 70%;}
.pokemon_select {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokemon_select:hover {color: #48ff00;background-color: #444444;}

.pokedex_number_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;border-radius: 0 0 1em 1em;}
.pokedex_number_table_1 {width: 30%;text-align: center;}
.pokedex_number_table_2 {width: 70%;}
.pokedex_number {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokedex_number:hover {color: #48ff00;background-color: #444444;}

/* Stats Section */
.stats_container {width: 100%;justify-content: flex-start;background-color: #111111;border-radius: 1em;}

.stats_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;border-radius: 0 0 1em 1em;}
.stats_table_1 {width: 30%;text-align: center;}
.stats_table_2 {width: 70%;}
.stats_type {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.stats_type:hover {color: #48ff00;background-color: #444444;}

.pokemon_name_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;border-radius: 0 0 1em 1em;}
.pokemon_name_table_1 {width: 30%;text-align: center;}
.pokemon_name_table_2 {width: 70%;}
.pokemon_name {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokemon_name:hover {color: #48ff00;background-color: #444444;}

.pokemon_box_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;border-radius: 0 0 1em 1em;}
.pokemon_box_table_1 {width: 30%;text-align: center;}
.pokemon_box_table_2 {width: 20%;}
.pokemon_box {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokemon_box:hover {color: #48ff00;background-color: #444444;}
.pokemon_spot {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokemon_spot:hover {color: #48ff00;background-color: #444444;}
.pokemon_shiny {width: 1em;height: 1em;color: #dbdbdb;background-color: #222222;}
.pokemon_shiny:hover {color: #48ff00;background-color: #444444;}
.pokemon_gender {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokemon_gender:hover {color: #48ff00;background-color: #444444;}
.pokemon_level {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokemon_level:hover {color: #48ff00;background-color: #444444;}
.icognito_select {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.icognito_select:hover {color: #48ff00;background-color: #444444;}

/* Item Section */
.item_container {width: 100%;justify-content: flex-start;background-color: #111111;border-radius: 1em;}

.item_sort_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;}
.item_sort_table_1 {width: 30%;text-align: center;}
.item_sort_table_2 {width: 70%;}
.item_sort {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.item_sort:hover {color: #48ff00;background-color: #444444;}

.item_carry_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;}
.item_carry_table_1 {width: 30%;text-align: center;}
.item_carry_table_2 {width: 70%;}
.item_carry {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.item_carry:hover {color: #48ff00;background-color: #444444;}

.item_text_table {width: 100%;display: flex;align-items: flex-end;padding: 0.5em;}
.item_text_table_1 {width:100%;text-align: justify;}
.item_description {width: 100%;color: #dbdbdb;background-color: #000000;border-radius: 0.5em;padding: 0.8em 1em;}

/* Fight Section */
.fight_container {width: 100%;justify-content: flex-start;background-color: #111111;border-radius: 1em;}

.attack_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;border-radius: 0 0 1em 1em;}
.attack_table_1 {width: 30%;text-align: center;}
.attack_table_2 {width: 70%;}
.attack_table_3 {width: 30%;text-align: center;}
.attack_table_4 {width: 20%;}
.move {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.move:hover {color: #48ff00;background-color: #444444;}

/* Trainer Section */
.trainer_container {width: 100%;justify-content: flex-start;background-color: #111111;border-radius: 1em;}

.trainer_name {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.trainer_name:hover {color: #48ff00;background-color: #444444;}
.trainer_gender {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.trainer_gender:hover {color: #48ff00;background-color: #444444;}
.trainer_id {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.trainer_id:hover {color: #48ff00;background-color: #444444;}
.trainer_id_secret {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.trainer_id_secret:hover {color: #48ff00;background-color: #444444;}

/* Code Section */
.code_container {width: 100%;justify-content: flex-start;background-color: #111111;border-radius: 1em;}

.code_table {width: 100%;border-radius: 0;display: flex;padding: 0.5em;border-radius: 1em 1em 0 0;}
.code_table_1 {width: 80%;text-align: center;}
.code_table_2 {width: 20%;}
.code_table_3 {width: 30%;text-align: center;}
.code_table_4 {width: 20%;}


.hidden_code {visibility: hidden;}


.logo_container {width: 33%;height: auto;left: 25%;top: 10%;}



.code_choice_1_container {width: calc(90% + 13px);height: calc(4%);left: 50%;top: 6.5%;background-color: #000000;}
.mirage_island_code_text {width: calc(50% - 14px);height: calc(100%);left: calc(25% - 2px);top: 50%;padding-left: 10px;background-color: #000000;border-radius: 6px;border: 1px solid #888888;display: flex; align-items: center;}
.mirage_island_code {width: auto;height: 100%;left: calc(50% - 4px - 20px);top: 40%;background-color: #ffffff;}
.master_code_text {width: calc(50% - 14px);height: calc(100%);left: calc(75% + 2px);top: 50%;padding-left: 10px;background-color: #000000;border-radius: 6px;border: 1px solid #888888;display: flex; align-items: center;}
.master_code {width: auto;height: 100%;left: calc(100% - 20px);top: 40%;background-color: #ffffff;}

.code_choice_2_container {width: calc(60%);height: 14%;left: 33%;top: 18%;background-color: #000000;}
.vba_container {width: calc(40% - 2px);height: calc(33% - 2px);left: 20%;top: 16.5%;background-color: #000000;border-radius: 6px;border: 1px solid #888888;}
.vba_code_text {width: 100%;height: 100%;left: 50%;top: 50%;padding-left: 10px;background-color: none;display: flex; align-items: center;}
.arv1_container {width: calc(60% - 2px);height: calc(33% - 2px);left: 70%;top: 16.5%;background-color: #000000;border-radius: 6px;border: 1px solid #888888;}
.arv1_code_text {width: 100%;height: 100%;left: 50%;top: 50%;padding-left: 10px;background-color: none;display: flex; align-items: center;}
.arv3_container {width: calc(40% - 2px);height: calc(33% - 2px);left: 20%;top: 50.5%;background-color: #000000;border-radius: 6px;border: 1px solid #888888;}
.arv3_code_text {width: 100%;height: 100%;left: 50%;top: 50%;padding-left: 10px;background-color: none;display: flex; align-items: center;}
.cb_container {width: calc(60% - 2px);height: calc(33% - 2px);left: 70%;top: 50.5%;background-color: #000000;border-radius: 6px;border: 1px solid #888888;}
.cb_code_text {width: 100%;height: 100%;left: 50%;top: 50%;padding-left: 10px;background-color: none;display: flex; align-items: center;}
.bytes_container {width: calc(40% - 2px);height: calc(33% - 2px);left: 20%;top: 83.5%;background-color: #000000;border-radius: 6px;border: 1px solid #888888;}
.bytes_code_text {width: 100%;height: 100%;left: 50%;top: 50%;padding-left: 10px;background-color: none;display: flex; align-items: center;}
.cb5_container {width: calc(60% - 2px);height: calc(33% - 2px);left: 70%;top: 83.5%;background-color: #000000;border-radius: 6px;border: 1px solid #888888;}
.cb5_code_text {width: 100%;height: 100%;left: 50%;top: 50%;padding-left: 10px;background-color: none;display: flex; align-items: center;}
.code_format {width: auto;height: 100%;left: calc(100% - 20px);top: 40%;background-color: #ffffff;}

.code_create_container {aspect-ratio: 1/1;width: 28%;height: auto;left: 82.5%;top: 18%;}
.code_output {width: calc(90% + 6px);height: calc(70% - 8px);left: 50%;top: 63%;padding: 4px;background-color: #000000;scrollbar-base-color: #111111;scrollbar-track-color: #111111;scrollbar-face-color: #111111;scrollbar-arrow-color: #48ff00;scrollbar-shadow-color: #888888;overflow: auto;font-family: monospace;}

.fight_table_link {width: 70%;height: 5%;left: 50%;top: 10%;background-color: #111111;display: flex;align-items: center;justify-content: center;}

select::-ms-expand {display: none;}
select:focus::-ms-value {color: #dbdbdb;}
select:optional::-ms-value {color: #dbdbdb;}
select:only-child::-ms-value {color: #dbdbdb;}
select:active::-ms-value {color: #ff002f;}
select:hover::-ms-value {color: #dbdbdb;}
select:enabled::-ms-value {color: #dbdbdb;}
select::-ms-value {scrollbar-base-color: #111111;scrollbar-track-color: #111111;scrollbar-face-color: #111111;scrollbar-arrow-color: #48ff00;scrollbar-shadow-color: #888888;overflow: auto;}
select:disabled::-ms-value {color: #dbdbdb;}

/* Button Layers */
.tip_info {display: flex;justify-content: center;align-items: center;width: 90%;height: 90%;left: calc(5%);top: calc(5%);color: #dbdbdb;font-size: 20px;text-align: center;text-shadow: 4px 4px 6px #000000,-4px -4px 6px #000000,-4px 4px 6px #000000,4px -4px 6px #000000;border-radius: 20%;z-index: 1;background: none;position: absolute;visibility: hidden;}
.tip_visible {display: flex;justify-content: center;align-items: center;width: 200%;height: auto;left: calc(-50%);top: calc(120%);color: #dbdbdb;font-size: 20px;text-align: center;text-shadow: 4px 4px 6px #000000,-4px -4px 6px #000000,-4px 4px 6px #000000,4px -4px 6px #000000;z-index: 1;position: absolute;background: none;}

.button_back {width: 100px;height: 100px;left: 20%;top: 14%;cursor: pointer;background-size: 100% 100%;background-image: url('../design/Nav_Back.png');}
.button_refresh {width: 100px;height: 100px;left: 50%;top: 40%;cursor: pointer;background-size: 100% 100%;background-image: url('../design/Nav_Refresh.png');}

.mb_glow_rainbow {z-index: 0;cursor: pointer;border-radius: 25%;border-top: 6px groove #888888;border-left: 6px groove #888888;border-bottom: 6px ridge #888888;border-right: 6px ridge #888888;outline: none;background-color: #000000;background-size: 100% 100%;box-shadow: 4px 4px 50px #000000,-4px -4px 50px #000000,-4px 4px 50px #000000,4px -4px 50px #000000;}
.mb_glow_rainbow:hover {background:linear-gradient(#111111,#111111) padding-box,linear-gradient(.175turn,#00ffd5,#0000ff,#5500ff,#00ffd5,#48ff00,#1c6300,#ffd900,#fc2600,#ff002f,#5500ff,#00ffd5) border-box;background-size: 400%;content: '';backdrop-filter: blur(5px);animation: glowing 20s linear infinite;border: 4px dashed #111111;}
.mb_glow_rainbow:hover .tip_info {visibility: visible;}
.mb_glow_rainbow:hover .tip_visible {color: #48ff00;}

.mb_glow_rainbow_no_shadow {z-index: 0;cursor: pointer;border-radius: 25%;border-top: 6px groove #888888;border-left: 6px groove #888888;border-bottom: 6px ridge #888888;border-right: 6px ridge #888888;outline: none;background-color: #000000;background-size: 100% 100%;}
.mb_glow_rainbow_no_shadow:hover {background:linear-gradient(#111111,#111111) padding-box,linear-gradient(.175turn,#00ffd5,#0000ff,#5500ff,#00ffd5,#48ff00,#1c6300,#ffd900,#fc2600,#ff002f,#5500ff,#00ffd5) border-box;background-size: 400%;content: '';backdrop-filter: blur(5px);animation: glowing 20s linear infinite;border: 4px dashed #111111;}
.mb_glow_rainbow_no_shadow:hover .tip_info {visibility: visible;}
.mb_glow_rainbow_no_shadow:hover .tip_visible {color: #48ff00;}

.mb_glow_rainbow_round {z-index: 0;cursor: pointer;border-radius: 50%;border-top: 6px groove #888888;border-left: 6px groove #888888;border-bottom: 6px ridge #888888;border-right: 6px ridge #888888;outline: none;background-color: #000000;background-size: 100% 100%;box-shadow: 4px 4px 50px #000000,-4px -4px 50px #000000,-4px 4px 50px #000000,4px -4px 50px #000000;}
.mb_glow_rainbow_round:hover {background:linear-gradient(#111111,#111111) padding-box,linear-gradient(.175turn,#00ffd5,#0000ff,#5500ff,#00ffd5,#48ff00,#1c6300,#ffd900,#fc2600,#ff002f,#5500ff,#00ffd5) border-box;background-size: 400%;content: '';backdrop-filter: blur(5px);animation: glowing 20s linear infinite;border: 4px dashed #111111;}
.mb_glow_rainbow_round:hover .tip_info {visibility: visible;}
.mb_glow_rainbow_round:hover .tip_visible {color: #48ff00;}

@keyframes glowing {0% {background-position: 0 0;} 50% {background-position: 400% 0;} 100% {background-position: 0 0;}}
@keyframes scroll {from {transform: translateX(0%);} to {transform: translateX(-100%);}}


/* Images */
.fight_table {aspect-ratio: 1/1;width: 90%;height: auto;left: 50%;top: 50%;background-color: #000000;}