/* Layout Commands */
.layout_container {display: grid;grid-template-columns: 1fr;gap: 1em;}
@media (orientation: landscape) {.layout_container {grid-template-columns: repeat(2, minmax(0, 50vw));align-items: start;align-content: start;}}

/* Views for multiple instances */
.container_header {width: 100%;text-align: center;padding: 0.5em;}
.background_image {display: block;width: 100%;height: 100%;}

.border_3d {box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.1),inset -2px -2px 5px rgba(255, 255, 255, 0.1);;}
.border_knob {box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.1),inset -2px -2px 5px rgba(0, 0, 0, 0.5);}
.border_input {box-shadow: inset 2px 2px 1px rgba(255, 255, 255, 0.2),inset -2px -2px 1px rgba(255, 255, 255, 0.2);}

.checkbox {display: flex;align-items: center;cursor: pointer;}
.checkbox input[type="checkbox"] {appearance: none;-moz-appearance: none;-webkit-appearance: none;width: 1.8em;height: 1.8em;background-color: #222222;border-radius: 0.5em;position: relative;cursor: pointer;transition: all 1s ease;margin: 0;padding: 0;}
.checkbox input[type="checkbox"]:hover {background-color: #444444;}
.checkbox input[type="checkbox"]:checked::after {content: "✔";position: absolute;top: 0%;left: 25%;font-size: 1em;color: #48ff00;}
.checkbox input[type="radio"] {appearance: none;-moz-appearance: none;-webkit-appearance: none;width: 1.8em;height: 1.8em;background-color: #222222;border-radius: 0.5em;position: relative;cursor: pointer;transition: all 1s ease;margin: 0;padding: 0;}
.checkbox input[type="radio"]:hover {background-color: #444444;}
.checkbox input[type="radio"]:checked::after {content: "✔";position: absolute;top: 0%;left: 25%;font-size: 1em;color: #48ff00;}


/* Game-Cover */
.game_cover_container {width: 100%;background-color: #111111;border-radius: 1em;align-items: start;align-content: start;}

.game_table {width: 100%;border-radius: 0;display: flex;padding: 0.5em;border-radius: 1em 1em 0 0;}
.game_table_1 {width: 30%;text-align: center;}
.game_table_2 {width: 70%;}

.game_cover {display: block;width: calc(100% - 1em);margin: auto;border-radius: 0.5em;}
.game_select {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.game_select:hover {color: #48ff00;background-color: #444444;}

/* Pokemon-Section */
.pokemon_container {width: 100%;background-color: #111111;border-radius: 1em;align-items: start;align-content: start;}

.pokedex_select_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;border-radius: 1em 1em 0 0;}
.pokedex_select_table_1 {width: 30%;text-align: center;}
.pokedex_select_table_2 {width: 70%;}
.pokedex_select {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokedex_select:hover {color: #48ff00;background-color: #444444;}

.pokedex_sort_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;}
.pokedex_sort_table_1 {width: 30%;text-align: center;}
.pokedex_sort_table_2 {width: 70%;}
.pokedex_sort {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokedex_sort:hover {color: #48ff00;background-color: #444444;}

.pokemon_picture_swapper {width: 100%;cursor: pointer;position: relative;}
.pokemon_picture {display: block;width: calc(100% - 1em);margin: auto;border-radius: 0.5em;background-image: url(pokemon/icons/background.png);background-size: contain;background-repeat: no-repeat;background-position: center;transition: all 1s ease;}
.pokemon_description {width: calc(100% - 1em);height: 100%;top: 0%;left: 0.5em;position: absolute;padding: 0.5em 1em;border-radius: 0.5em;opacity: 0;color: #dbdbdb;text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);overflow-y: auto;background-color: rgba(0, 0, 0, 0.6);scrollbar-width: thin;scrollbar-color: #48ff00 rgba(255, 255, 255, 0.1);overflow-x: hidden;}
.pokemon_description::-webkit-scrollbar-track {background: rgba(255, 255, 255, 0.1);border-radius: 0.5em;}
.pokemon_description::-webkit-scrollbar-thumb {background-color: #48ff00;border-radius: 0.5em;}
.pokemon_description::-webkit-scrollbar-corner {background: transparent;}

.pokemon_select_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;}
.pokemon_select_table_1 {width: 30%;text-align: center;}
.pokemon_select_table_2 {width: 70%;}
.pokemon_select {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokemon_select:hover {color: #48ff00;background-color: #444444;}

.pokedex_number_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;border-radius: 0 0 1em 1em;}
.pokedex_number_table_1 {width: 30%;text-align: center;}
.pokedex_number_table_2 {width: 70%;}
.pokedex_number {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokedex_number:hover {color: #48ff00;background-color: #444444;}

/* Stats Section */
.stats_container {width: 100%;justify-content: flex-start;background-color: #111111;border-radius: 1em;}

.stats_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;border-radius: 0 0 1em 1em;}
.stats_table_1 {width: 30%;text-align: center;}
.stats_table_2 {width: 70%;}
.stats_type {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.stats_type:hover {color: #48ff00;background-color: #444444;}

.pokemon_name_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;border-radius: 0 0 1em 1em;}
.pokemon_name_table_1 {width: 30%;text-align: center;}
.pokemon_name_table_2 {width: 70%;}
.pokemon_name {width: 100%;color: #dbdbdb;background-color: #000000;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokemon_name:hover {color: #48ff00;background-color: #222222;}

.pokemon_box_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;border-radius: 0 0 1em 1em;}
.pokemon_box_table_1 {width: 30%;text-align: center;}
.pokemon_box_table_2 {width: 20%;}
.pokemon_box {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokemon_box:hover {color: #48ff00;background-color: #444444;}
.pokemon_spot {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokemon_spot:hover {color: #48ff00;background-color: #444444;}
.pokemon_shiny {width: 1em;height: 1em;color: #dbdbdb;background-color: #222222;}
.pokemon_shiny:hover {color: #48ff00;background-color: #444444;}
.pokemon_gender {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokemon_gender:hover {color: #48ff00;background-color: #444444;}
.pokemon_level {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.pokemon_level:hover {color: #48ff00;background-color: #444444;}
.icognito_select {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.icognito_select:hover {color: #48ff00;background-color: #444444;}

/* Item Section */
.item_container {width: 100%;justify-content: flex-start;background-color: #111111;border-radius: 1em;}

.item_sort_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;}
.item_sort_table_1 {width: 30%;text-align: center;}
.item_sort_table_2 {width: 70%;}
.item_sort {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.item_sort:hover {color: #48ff00;background-color: #444444;}

.item_carry_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;}
.item_carry_table_1 {width: 30%;text-align: center;}
.item_carry_table_2 {width: 70%;}
.item_carry {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.item_carry:hover {color: #48ff00;background-color: #444444;}

.item_text_table {width: 100%;display: flex;align-items: flex-end;padding: 0.5em;}
.item_text_table_1 {width:100%;text-align: justify;}
.item_description {width: 100%;color: #dbdbdb;background-color: #000000;border-radius: 0.5em;padding: 0.8em 1em;word-wrap: break-word;word-break: normal;max-width: 100%;}

/* Fight Section */
.fight_container {width: 100%;justify-content: flex-start;background-color: #111111;border-radius: 1em;}

.attack_table {width: 100%;display: flex;align-items: flex-start;padding: 0.5em;border-radius: 0 0 1em 1em;}
.attack_table_1 {width: 30%;text-align: center;}
.attack_table_2 {width: 70%;}
.attack_table_3 {width: 30%;text-align: center;}
.attack_table_4 {width: 20%;}
.move {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.move:hover {color: #48ff00;background-color: #444444;}

/* Trainer Section */
.trainer_container {width: 100%;justify-content: flex-start;background-color: #111111;border-radius: 1em;}

.trainer_name {width: 100%;color: #dbdbdb;background-color: #000000;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.trainer_name:hover {color: #48ff00;background-color: #222222;}
.trainer_gender {width: 100%;color: #dbdbdb;background-color: #222222;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.trainer_gender:hover {color: #48ff00;background-color: #444444;}
.trainer_id {width: 100%;color: #dbdbdb;background-color: #000000;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.trainer_id:hover {color: #48ff00;background-color: #222222;}
.trainer_id_secret {width: 100%;color: #dbdbdb;background-color: #000000;outline: none;border: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;padding: 0;margin: 0;text-align-last: center;border-radius: 0.5em;cursor: pointer;transition: all, background 1s ease;}
.trainer_id_secret:hover {color: #48ff00;background-color: #222222;}

/* Code Section */
.code_container {width: 100%;justify-content: flex-start;background-color: #111111;border-radius: 1em;}

.code_table {width: 100%;border-radius: 0;display: flex;padding: 0.5em;border-radius: 1em 1em 0 0;}
.code_table_1 {width: 85%;text-align: center;}
.code_table_2 {width: 15%;}
.code_table_3 {width: 25%;text-align: center;}
.code_table_4 {width: 20%;}
.code_table_5 {width: 40%;text-align: center;}
.code_table_6 {width: 15%;}
.code_table_7 {width: 4em;height: 4em;border-radius: 0.5em;background-color: #222222;cursor: pointer;transition: all, background 1s ease;margin: 1em auto 0 auto;}
.code_table_7:hover {color: #48ff00;background-color: #444444;}
.code_table_7 img {width: 100%;height: 100%;border-radius: 0.5em;}
.code_table_8 {width: 50%;text-align: center;}

.hidden_code {visibility: hidden;}
